*{
	margin:0;
	padding:0;
}

#content{
	background-color: grey;
	float:left;
}

#map3d{
	position:absolute;
	float:right;
	width:20%;
	height:80%;
}

#navbar{
	position:relative;
	float:left;
}
#newsfeed{
	float:right;
	width:1000px;
	height:450px;
	border: 10px solid black;
	overflow:scroll;
}
body{
	/*background-color: black;*/
}