*{
	margin:0;
	padding:0;
}

#branding {
	font-family: Arial;
	font-size: 3em;
	font-weight: 500;
	color: white;
	height: 0%;
	margin-left: 85%;
	bottom: 0;
}
	

#content{
	width: 100%;
	height: 90%;
	background-color: black;
	position: fixed;
}

#map3d{
	position:absolute;
	top: 2%;
	bottom: 10%;
	float:right;
	width:100%;
	height:90%;

}

#navbar {
	position:relative;
	float:left;
}

#outer {
	z-index: 1;
	width: 25%;
	height: 80%;
	position: fixed;
	border-radius: 2%;
	background-color: none;
}

#newsfeed {
	margin-left: 10%;
	margin-top: 15%;
	z-index: 2;
	width: 100%;
	height: 85%;
	position: absolute;
	border-radius: 3%;
	box-shadow: 5px 10px 20px black;
	background: rgba(54, 25, 25, .7);
	overflow: auto;
}

body{
	background-color: black;
	height: 40%;
}

#ticker{
  position: absolute;
  bottom: 0px;
	background: rgba(54, 25, 25, .5);
  opacity:0.9;
	height:30%;
	line-height: 30px;
}

#ticker a{
	color: white;
	font-family: Arial;
	font-weight: 300;
	text-decoration: none;
	padding-right:50px;
	font-size: 1.15em;å
}

#news_block{
	font-family: Arial;
	font-size: 1.15em;
	font-weight: 600;
		-webkit-font-smoothing:antialiased;
	color: white;
	padding: 1%;
	top: 8%;
	left: 70%;
	width:20%;
	height:40%;
	position: absolute;
	border-radius: 5%;
	box-shadow: 5px 10px 20px black;
	background: rgba(54, 25, 25, .9);
	overflow: auto;
}

#news_block_description{
	font-family: Arial, sans-serif;
  font-weight:200;
   -webkit-font-smoothing:antialiased;
	font-size: 0.9em;
	color: white;
	line-height: 20%
	color: white;
}


.toggleBtn 	{
			z-index: 1;
			width: 10%;
			height: 5%;
			margin-left: 90%;
			border: 0;
			font-size: 1em;
			color: white;
			font-family: Arial, sans-serif;
  		font-weight:200;
   		-webkit-font-smoothing:antialiased;
			position: absolute;
			background: rgba(54, 25, 25, .0);
}

.hide_feature_box {
			z-index: 1;
			width: 10%;
			height: 5%;
			margin-left: 90%;
			border: 0;
			font-size: 1em;
			color: white;
			font-family: Arial, sans-serif;
  		font-weight:200;
   		-webkit-font-smoothing:antialiased;
			position: absolute;
			background: rgba(54, 25, 25, .7);
}

a {
			font-family: Arial;
			color: white;
			text-decoration: none;
}

.article a:hover {
				 color: red;
}

.article 	{

			font-family: Arial;
			font-size: 1.1em;
			font-weight: 800;
			   -webkit-font-smoothing:antialiased;
			color: white;
			text-decoration: none;
			z-index:5;
			width: 90%;
			height: 10%;
			margin: 5%;
}

#lower {
			bottom: 0;
			width: 100%;
			height: 15%;
			z-index: 8;
			position: fixed;
}

