<!DOCTYPE html>
<html>
	<head>
	  <%= include_gon %>
	  
	  <title>Earth2</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
		<script type="text/javascript" src="https://www.google.com/jsapi"> </script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
		    google.load("earth", "1", {"other_params":"sensor=true_or_false"});
			google.load('search', '1');
			google.load("elements", "1", {packages : ["newsshow"]});
		</script>

	  <%= javascript_include_tag "application" %>

	</head>
		<body>
			<div id="branding">earth2</div>
			<br/>
			<div id="sample-ui"></div>

			<div id="content">

					<div id="map3d"></div>

							<div id="outer">

									<div id="newsfeed">
											<button class="toggleBtn">x</button>
											<div class="article"></div>
									</div>

							</div>

			</div>

					<div id="lower">
						<marquee id="ticker" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
					</div>

			</div>

		<%= yield %>

		</body>
</html>
